body,h1{
    margin: 0;
    padding:0;
}
#minedField{
    width: 50%;
    height: 100vh;
    float: left;
    text-align: center;
    
}
#minedField,
td{
    border: solid black 1px;
    background-color: #dcd6bc;
    border: 5px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}


.hidden{
    visibility: hidden;
}
